# Matt Sloane / ms9548
## Homework 11, Assignment 2

In [20]:
# Import modules / setup notebook environment
import geopandas as gpd
import numpy as np
import pandas as pd
import os
import zipfile
import json
import fiona
from fiona.crs import from_epsg
import pylab as pl
import shapely
%pylab inline

s = json.load(open(os.getenv("PUIDATA")+'/fbb_matplotlibrc.json'))
pl.rcParams.update(s)   

pui_Data = os.getenv("PUIDATA")

Populating the interactive namespace from numpy and matplotlib

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: svg.embed_char_paths is deprecated and replaced with svg.fonttype; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [21]:
def get_data():
    '''
    Download data for Homework 11, Assigment 2 and move to HW11 PUI Data Folder, including:
    1.  Census Data for Businesses by Zipcode
    2.  NYC Zipcodes Shapefile 
    '''
    
    # Download NYC Zipcode Shapefile from GitHub HW11 Repository
    
    url_base = "https://raw.githubusercontent.com/fedhere/PUI2016_fb55/master/HW11_fb55"
    !curl -O "{url_base}/nyc-zip-code-tabulation-areas-polygons.geojson"
    
    #  Commenting out this portion of the function to avoid redundant downloads due to long download times
    '''
    # Download Census Data for Business by Zip Code (Code provided by professor)

    !for ((y=93; y<=99; y+=1)); do wget ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp$y\totals.zip; done 
    !for ((y=0; y<=1; y+=1)); do wget ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp0$y\totals.zip; done
    !for ((y=2; y<=9; y+=1)); do wget ftp://ftp.census.gov/econ200$y\/CBP_CSV/zbp0$y\totals.zip; done
    !for ((y=10; y<=15; y+=1)); do wget ftp://ftp.census.gov/econ20$y\/CBP_CSV/zbp$y\totals.zip; done
    '''
    
get_data()

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  591k  100  591k    0     0  1429k      0 --:--:-- --:--:-- --:--:-- 5977k

In [22]:
#create a new dataframe with values from all census business data files - from KDR276
years = ['94', '95', '96', '97', '98', '99', '00', '01', '02', '03', '04', '05', '06', '07',
        '08', '09', '10', '11', '12', '13', '14']
CombinedValues = pd.DataFrame()
for year in years:
    fname = 'zbp' + year + 'totals.zip'
    zf = zipfile.ZipFile(fname)
    each_year = pd.read_csv(zf.open(fname.replace('.zip','.txt')))
    each_year['year'] = year
    CombinedValues = pd.concat([CombinedValues, each_year], axis=0)
    
CombinedValues.head()

,AP,EMP,EMPFLAG,EST,NAME,QP1,ZIP,ap,ap_nf,city,...,emp,emp_nf,empflag,est,name,qp1,qp1_nf,stabbr,year,zip
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155158.0,NaN,NaN,...,6198.0,NaN,NaN,439.0,"Agawam, MA",33601.0,NaN,NaN,94,1001.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127367.0,NaN,NaN,...,6073.0,NaN,NaN,450.0,"Amherst, MA",28924.0,NaN,NaN,94,1002.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1604.0,NaN,NaN,...,68.0,NaN,NaN,10.0,"Amherst, MA",367.0,NaN,NaN,94,1003.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4302.0,NaN,NaN,...,210.0,NaN,NaN,47.0,"Amherst, MA",844.0,NaN,NaN,94,1004.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13521.0,NaN,NaN,...,678.0,NaN,NaN,92.0,"Barre, MA",3010.0,NaN,NaN,94,1005.0

In [23]:
# Reduce DataFrame
CombinedValues_reduced = CombinedValues
CombinedValues_reduced.drop(CombinedValues_reduced.columns[[0,1,2,3,4,
                                                            5,7,8,9,10,11,12,13,15,
                                                            16,17,18]], axis=1, inplace=True)
CombinedValues_reduced.head()

   ZIP    est year     zip
0  NaN  439.0   94  1001.0
1  NaN  450.0   94  1002.0
2  NaN   10.0   94  1003.0
3  NaN   47.0   94  1004.0
4  NaN   92.0   94  1005.0

In [24]:
# Reset index for further data manipulation
cv_Final = CombinedValues_reduced.reset_index(drop = True)
cv_Final

        ZIP      est year      zip
0       NaN    439.0   94   1001.0
1       NaN    450.0   94   1002.0
2       NaN     10.0   94   1003.0
3       NaN     47.0   94   1004.0
4       NaN     92.0   94   1005.0
5       NaN    182.0   94   1007.0
6       NaN     18.0   94   1008.0
7       NaN     14.0   94   1009.0
8       NaN     50.0   94   1010.0
9       NaN     16.0   94   1011.0
10      NaN      8.0   94   1012.0
11      NaN    381.0   94   1013.0
12      NaN     15.0   94   1014.0
13      NaN    551.0   94   1020.0
14      NaN     32.0   94   1021.0
15      NaN     39.0   94   1022.0
16      NaN     19.0   94   1026.0
17      NaN    315.0   94   1027.0
18      NaN    466.0   94   1028.0
19      NaN     15.0   94   1029.0
20      NaN    193.0   94   1030.0
21      NaN     18.0   94   1031.0
22      NaN     11.0   94   1032.0
23      NaN     96.0   94   1033.0
24      NaN     22.0   94   1034.0
25      NaN    237.0   94   1035.0
26      NaN     88.0   94   1036.0
27      NaN     14.0   94   1037.0
28      NaN     54.0   94   1038.0
29      NaN     29.0   94   1039.0
...     ...      ...  ...      ...
828761  NaN     21.0   14  99802.0
828762  NaN     35.0   14  99803.0
828763  NaN     10.0   14  99820.0
828764  NaN      6.0   14  99821.0
828765  NaN     30.0   14  99824.0
828766  NaN      4.0   14  99825.0
828767  NaN     29.0   14  99826.0
828768  NaN    142.0   14  99827.0
828769  NaN     22.0   14  99829.0
828770  NaN     18.0   14  99830.0
828771  NaN      3.0   14  99832.0
828772  NaN    153.0   14  99833.0
828773  NaN    382.0   14  99835.0
828774  NaN      1.0   14  99836.0
828775  NaN    107.0   14  99840.0
828776  NaN      4.0   14  99841.0
828777  NaN      3.0   14  99850.0
828778  NaN    592.0   14  99901.0
828779  NaN      4.0   14  99918.0
828780  NaN     16.0   14  99919.0
828781  NaN     58.0   14  99921.0
828782  NaN      6.0   14  99922.0
828783  NaN      6.0   14  99923.0
828784  NaN     23.0   14  99925.0
828785  NaN     13.0   14  99926.0
828786  NaN      3.0   14  99927.0
828787  NaN      5.0   14  99928.0
828788  NaN     83.0   14  99929.0
828789  NaN      7.0   14  99950.0
828790  NaN  20035.0   14  99999.0

[828791 rows x 4 columns]

In [25]:
# Combine "zip" and "ZIP" columns into one, eliminating complementary NaN values
cv_Final['zipcode'] =  cv_Final['zip'].combine_first(cv_Final['ZIP'])
cv_Final

        ZIP      est year      zip  zipcode
0       NaN    439.0   94   1001.0   1001.0
1       NaN    450.0   94   1002.0   1002.0
2       NaN     10.0   94   1003.0   1003.0
3       NaN     47.0   94   1004.0   1004.0
4       NaN     92.0   94   1005.0   1005.0
5       NaN    182.0   94   1007.0   1007.0
6       NaN     18.0   94   1008.0   1008.0
7       NaN     14.0   94   1009.0   1009.0
8       NaN     50.0   94   1010.0   1010.0
9       NaN     16.0   94   1011.0   1011.0
10      NaN      8.0   94   1012.0   1012.0
11      NaN    381.0   94   1013.0   1013.0
12      NaN     15.0   94   1014.0   1014.0
13      NaN    551.0   94   1020.0   1020.0
14      NaN     32.0   94   1021.0   1021.0
15      NaN     39.0   94   1022.0   1022.0
16      NaN     19.0   94   1026.0   1026.0
17      NaN    315.0   94   1027.0   1027.0
18      NaN    466.0   94   1028.0   1028.0
19      NaN     15.0   94   1029.0   1029.0
20      NaN    193.0   94   1030.0   1030.0
21      NaN     18.0   94   1031.0   1031.0
22      NaN     11.0   94   1032.0   1032.0
23      NaN     96.0   94   1033.0   1033.0
24      NaN     22.0   94   1034.0   1034.0
25      NaN    237.0   94   1035.0   1035.0
26      NaN     88.0   94   1036.0   1036.0
27      NaN     14.0   94   1037.0   1037.0
28      NaN     54.0   94   1038.0   1038.0
29      NaN     29.0   94   1039.0   1039.0
...     ...      ...  ...      ...      ...
828761  NaN     21.0   14  99802.0  99802.0
828762  NaN     35.0   14  99803.0  99803.0
828763  NaN     10.0   14  99820.0  99820.0
828764  NaN      6.0   14  99821.0  99821.0
828765  NaN     30.0   14  99824.0  99824.0
828766  NaN      4.0   14  99825.0  99825.0
828767  NaN     29.0   14  99826.0  99826.0
828768  NaN    142.0   14  99827.0  99827.0
828769  NaN     22.0   14  99829.0  99829.0
828770  NaN     18.0   14  99830.0  99830.0
828771  NaN      3.0   14  99832.0  99832.0
828772  NaN    153.0   14  99833.0  99833.0
828773  NaN    382.0   14  99835.0  99835.0
828774  NaN      1.0   14  99836.0  99836.0
828775  NaN    107.0   14  99840.0  99840.0
828776  NaN      4.0   14  99841.0  99841.0
828777  NaN      3.0   14  99850.0  99850.0
828778  NaN    592.0   14  99901.0  99901.0
828779  NaN      4.0   14  99918.0  99918.0
828780  NaN     16.0   14  99919.0  99919.0
828781  NaN     58.0   14  99921.0  99921.0
828782  NaN      6.0   14  99922.0  99922.0
828783  NaN      6.0   14  99923.0  99923.0
828784  NaN     23.0   14  99925.0  99925.0
828785  NaN     13.0   14  99926.0  99926.0
828786  NaN      3.0   14  99927.0  99927.0
828787  NaN      5.0   14  99928.0  99928.0
828788  NaN     83.0   14  99929.0  99929.0
828789  NaN      7.0   14  99950.0  99950.0
828790  NaN  20035.0   14  99999.0  99999.0

[828791 rows x 5 columns]

In [26]:
# Load NYC Zipcode GeoJson File into GeoPandas DataFrame
zip_shape = gpd.read_file("nyc-zip-code-tabulation-areas-polygons.geojson")
zip_shape.head()

,@id,BLDGpostalCode,CTY_FIPS,OBJECTID,PO_NAME,STATE,ST_FIPS,Shape_Area,Shape_Leng,borough,geometry,postalCode
0,http://nyc.pediacities.com/Resource/PostalCode...,0,081,1,Jackson Heights,NY,36,2.016328e+07,20624.692317,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,11372
1,http://nyc.pediacities.com/Resource/PostalCode...,0,081,2,Glen Oaks,NY,36,2.260653e+07,23002.816039,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,11004
2,http://nyc.pediacities.com/Resource/PostalCode...,0,081,3,New Hyde Park,NY,36,6.269333e+06,15749.161511,Queens,POLYGON ((-73.70098278625547 40.73889569923034...,11040
3,http://nyc.pediacities.com/Resource/PostalCode...,0,081,4,Bellerose,NY,36,4.941836e+07,35932.810639,Queens,POLYGON ((-73.72270447144122 40.75373371438336...,11426
4,http://nyc.pediacities.com/Resource/PostalCode...,0,081,5,Fresh Meadows,NY,36,6.938587e+07,38693.565676,Queens,POLYGON ((-73.81088634744755 40.72717187575918...,11365

In [27]:
# Clean zipcode shapefile / eliminate columns
zip_shape = zip_shape.rename(columns={'postalCode': "zipcode"})
zip_shape = zip_shape[['zipcode', 'borough', 'geometry', 'PO_NAME']]
#datatype for all columns is 'object', changing zipcode to 'numeric'
zip_shape.zipcode = pd.to_numeric(zip_shape.zipcode)
zip_shape.head()

,zipcode,borough,geometry,PO_NAME
0,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights
1,11004,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,Glen Oaks
2,11040,Queens,POLYGON ((-73.70098278625547 40.73889569923034...,New Hyde Park
3,11426,Queens,POLYGON ((-73.72270447144122 40.75373371438336...,Bellerose
4,11365,Queens,POLYGON ((-73.81088634744755 40.72717187575918...,Fresh Meadows

In [28]:
# Test for Duplicate Values
print (len(zip_shape))
print (len(zip_shape['zipcode'].unique()))

262
247

In [29]:
# Drop duplicates - code from: 
# http://stackoverflow.com/questions/22918212/fastest-way-to-drop-duplicated-index-in-a-pandas-dataframe
zip_shape[~zip_shape.zipcode.duplicated()]

,zipcode,borough,geometry,PO_NAME
0,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights
1,11004,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,Glen Oaks
2,11040,Queens,POLYGON ((-73.70098278625547 40.73889569923034...,New Hyde Park
3,11426,Queens,POLYGON ((-73.72270447144122 40.75373371438336...,Bellerose
4,11365,Queens,POLYGON ((-73.81088634744755 40.72717187575918...,Fresh Meadows
5,11373,Queens,POLYGON ((-73.88722098467157 40.72752618766134...,Elmhurst
6,11001,Queens,POLYGON ((-73.70098278625547 40.73889569923034...,Floral Park
7,11375,Queens,"POLYGON ((-73.8562474640478 40.7367227854824, ...",Forest Hills
8,11427,Queens,POLYGON ((-73.74168681424477 40.73682340115314...,Queens Village
9,11374,Queens,POLYGON ((-73.86451198956482 40.73407164841783...,Rego Park
10,11366,Queens,POLYGON ((-73.77010678596534 40.73177920848852...,Fresh Meadows
11,11423,Queens,POLYGON ((-73.77010678596534 40.73177920848852...,Hollis
12,11428,Queens,POLYGON ((-73.72774739596115 40.72258480474807...,Queens Village
13,11432,Queens,POLYGON ((-73.80904031652176 40.71991162363268...,Jamaica
14,11379,Queens,POLYGON ((-73.87190078471538 40.72685786441028...,Middle Village
15,11429,Queens,POLYGON ((-73.72847847282661 40.72076557418165...,Queens Village
16,11435,Queens,"POLYGON ((-73.826059565848 40.71539860277048, ...",Jamaica
17,11415,Queens,"POLYGON ((-73.826059565848 40.71539860277048, ...",Kew Gardens
18,11418,Queens,POLYGON ((-73.83714702640651 40.70795706458588...,Richmond Hill
19,11433,Queens,POLYGON ((-73.77968261813585 40.70859580977126...,Jamaica
20,11451,Queens,"POLYGON ((-73.80157425020164 40.7012141075187,...",Jamaica
21,11221,Brooklyn,POLYGON ((-73.93822325191614 40.68389331961758...,Brooklyn
22,11421,Queens,POLYGON ((-73.84919824072988 40.69826748778543...,Woodhaven
23,11419,Queens,POLYGON ((-73.83754416389462 40.69136416111784...,South Richmond Hill
24,11434,Queens,"POLYGON ((-73.76989291145547 40.6963120712855,...",Jamaica
25,11216,Brooklyn,POLYGON ((-73.94564165707669 40.69203346946512...,Brooklyn
26,11416,Queens,POLYGON ((-73.84430243497147 40.68944301040629...,Ozone Park
27,11233,Brooklyn,POLYGON ((-73.93822325191614 40.68389331961758...,Brooklyn
28,11436,Queens,POLYGON ((-73.80584847668682 40.68290965963384...,Jamaica
29,11213,Brooklyn,POLYGON ((-73.93739763108535 40.67972992244106...,Brooklyn
...,...,...,...,...
229,10121,Manhattan,"POLYGON ((-73.99212790954165 40.7506639299073,...",New York
230,10115,Manhattan,POLYGON ((-73.96442407769575 40.81075515833336...,New York
231,10123,Manhattan,"POLYGON ((-73.99058621353761 40.7517600620908,...",New York
232,10106,Manhattan,"POLYGON ((-73.9811913910997 40.76552785648638,...",New York
233,10158,Manhattan,"POLYGON ((-73.9754304622918 40.74894290783273,...",New York
234,10041,Manhattan,POLYGON ((-74.01025451603236 40.70316648379826...,New York
235,10120,Manhattan,POLYGON ((-73.98938483171935 40.75000570919168...,New York
236,10278,Manhattan,"POLYGON ((-74.0047581751344 40.71507066139842,...",New York
237,10155,Manhattan,POLYGON ((-73.96843628425923 40.76110674296478...,New York
238,10022,Manhattan,POLYGON ((-73.97255352326927 40.76489775892639...,New York
239,10043,Manhattan,POLYGON ((-74.00708359545185 40.70387011589419...,New York
240,10081,Manhattan,POLYGON ((-74.00871477330257 40.70748970869894...,New York
241,10096,Manhattan,"POLYGON ((-73.983016591649 40.75485135971865, ...",New York
242,10097,Manhattan,POLYGON ((-73.98521646108104 40.76265249332648...,New York
243,10196,Manhattan,POLYGON ((-73.98243015162393 40.75680045135079...,New York
245,10275,Manhattan,"POLYGON ((-74.0145096413555 40.70555241329318,...",New York
246,10265,Manhattan,POLYGON ((-74.00806000181144 40.70489279508465...,New York
247,10045,Manhattan,"POLYGON ((-74.00910380255034 40.7087682026966,...",New York
248,10047,Manhattan,POLYGON ((-73.98633231041309 40.73957922332434...,New York
250,10080,Manhattan,POLYGON ((-74.01287666112424 40.71051906616817...,New York
251,10203,Manhattan,"POLYGON ((-74.0119355092785 40.70719862311504,...",New York
252,10259,Manhattan,POLYGON ((-74.01036216528939 40.70876809629968...,New York
253,10260,Manhattan,POLYGON ((-74.00908463334824 40.70626062267263...,New York
254,10285,Manhattan,POLYGON ((-74.01476100820057 40.71308692542971...,New York
255,10286,Manhattan,POLYGON ((-74.00936106903438 40.70641810896439...,New York
257,10065,Manhattan,POLYGON ((-73.95232471528539 40.76453994029583...,New York
258,10075,Manhattan,POLYGON ((-73.94908345691881 40.76828439957028...,New York
259,10069,Manhattan,POLYGON ((-73.98821069346344 40.78122505891703...,New York
260,10281,Manhattan,POLYGON ((-74.01468310237752 40.70979656993839...,New York
261,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York

In [43]:
#convert zipcode to numeric 
cv_Final["zipcode"] = cv_Final["zipcode"].apply(pd.to_numeric)

#merge shapefile and census information together on zipcode column
combinedtest = zip_shape.merge(cv_Final, on = "zipcode")
combinedtest.head()

,zipcode,borough,geometry,PO_NAME,ZIP,est,year,zip
0,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,NaN,1229.0,94,11372.0
1,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,NaN,1236.0,95,11372.0
2,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,NaN,1292.0,96,11372.0
3,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,NaN,1309.0,97,11372.0
4,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,11372.0,NaN,98,NaN

In [45]:
# Drop Unnecessary Columns from new, merged dataframe
merge_Reduct = combinedtest
merge_Reduct.drop(merge_Reduct.columns[[4,7]], axis=1, inplace=True)
merge_Reduct.head()

,zipcode,borough,geometry,PO_NAME,est,year
0,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1229.0,94
1,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1236.0,95
2,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1292.0,96
3,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1309.0,97
4,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,NaN,98

In [46]:
merge_Reduct

,zipcode,borough,geometry,PO_NAME,est,year
0,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1229.0,94
1,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1236.0,95
2,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1292.0,96
3,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1309.0,97
4,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,NaN,98
5,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,NaN,99
6,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,NaN,00
7,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,NaN,01
8,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,NaN,02
9,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1521.0,03
10,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1554.0,04
11,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1539.0,05
12,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1527.0,06
13,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1545.0,07
14,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1538.0,08
15,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1572.0,09
16,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1629.0,10
17,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1647.0,11
18,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1724.0,12
19,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1759.0,13
20,11372,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,Jackson Heights,1768.0,14
21,11004,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,Glen Oaks,194.0,94
22,11004,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,Glen Oaks,188.0,95
23,11004,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,Glen Oaks,176.0,96
24,11004,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,Glen Oaks,192.0,97
25,11004,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,Glen Oaks,NaN,98
26,11004,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,Glen Oaks,NaN,99
27,11004,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,Glen Oaks,NaN,00
28,11004,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,Glen Oaks,NaN,01
29,11004,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,Glen Oaks,NaN,02
...,...,...,...,...,...,...
5272,10281,Manhattan,POLYGON ((-74.01468310237752 40.70979656993839...,New York,111.0,06
5273,10281,Manhattan,POLYGON ((-74.01468310237752 40.70979656993839...,New York,153.0,07
5274,10281,Manhattan,POLYGON ((-74.01468310237752 40.70979656993839...,New York,162.0,08
5275,10281,Manhattan,POLYGON ((-74.01468310237752 40.70979656993839...,New York,224.0,09
5276,10281,Manhattan,POLYGON ((-74.01468310237752 40.70979656993839...,New York,157.0,10
5277,10281,Manhattan,POLYGON ((-74.01468310237752 40.70979656993839...,New York,161.0,11
5278,10281,Manhattan,POLYGON ((-74.01468310237752 40.70979656993839...,New York,128.0,12
5279,10281,Manhattan,POLYGON ((-74.01468310237752 40.70979656993839...,New York,125.0,13
5280,10281,Manhattan,POLYGON ((-74.01468310237752 40.70979656993839...,New York,145.0,14
5281,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,1.0,94
5282,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,1.0,95
5283,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,11.0,96
5284,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,52.0,97
5285,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,NaN,98
5286,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,NaN,99
5287,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,NaN,00
5288,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,NaN,01
5289,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,NaN,02
5290,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,165.0,03
5291,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,181.0,04
5292,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,186.0,05
5293,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,195.0,06
5294,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,229.0,07
5295,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,203.0,08
5296,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,175.0,09
5297,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,183.0,10
5298,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,176.0,11
5299,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,160.0,12
5300,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,170.0,13
5301,10282,Manhattan,POLYGON ((-74.01322730659011 40.71832262621834...,New York,154.0,14